 <!--FOOTER-->
 <footer class="row">
    <div class="row footer-top">
        <ul class="container row">
            <li class="col"><a class= "text-footer-yellow" href="/mediosDePago">Medios de Pago</a></li>
            <li class="col"><a class= "text-footer-yellow" href="#">¿Necesitás ayuda? </a></li>
            <li class="col"><a class= "text-footer-yellow" href="#">¿Quiénes Somos?</a></li>
    </ul>
    </div>

    <div class="row footer-buttom">
        <ul class="container row">
            <li class="col text-footer-black">Privacidad</li>
            <li class="col text-footer-black">Copyright © 2020-2021 Hecho a Mano S.A.</li>
            <li class="col text-footer-black">Condiciones de uso</li>
        </ul>    
    </div>
</footer>      