<!--VIEW PARTIALS HEAD-->

    <meta charset="utf-8">
    <!--Viewport-->
    <meta name= "viewport" content= "width=device-width, initial-scale=1">

    <title>"Hecho a Mano"</title>

    <!--link para la fuente Roboto-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">    

    <!--Css styles-->
    <link href ="/css/normalize.css" rel="stylesheet"> 
    <link href ="/css/stylesIndex.css" rel="stylesheet">

    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/17c2d4139d.js" crossorigin="anonymous"></script> 
    
