 <!--VIEW HEADER PARTIALS--> 

<header class="header">  
            
    <nav class= "header-top-navbar row container">

        <div class= "logo">
            <img class="img-logoEnBlanco" src="./img/logoEnBlanco(FCFCFC).png" alt="Logo de Hecho a Mano">
        </div>

        <!--SPACE FOR SEARCH NAV-BAR--> 
        <div class= "search-bar">
            <form class= "form-search-navbar" action="#">
                <input class ="form-search-navbar-input" type="text" placeholder="  ¿Qué estás buscando?" name="search">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>

        <!--FIRST NAVBAR-->
        <div class ="first-navbar">
        <ul class="right-navbar">
                <li> <a class= "text-link-nav" href="/register">Registrate</a></li>
                <li> <a class= "text-link-nav" href="/login">Ingresa</a></li>
                <li> <a class= "text-link-nav" href="/productCart"><i class="fas fa-shopping-cart col"></i></li>
            </ul>
        </div>    
    </nav>

         <!--SECOND NAV-BAR--> 
    <nav class= "second-nav-bar row">
        <div class="container container-todo-categorias">
            <ul>
                <li> <a class="category-link" href="#"><i class = "fa fa-bars burger"></i></li>
                <li> <a class="category-link" href="#categorias">Categorias</a></li>
            </ul>
        </div>
    </nav>

</header>
