<!DOCTYPE html>
<html>

    <head>

        <%- include ('./partials/head') %>
        <link href ="/css/stylesLogin.css" rel="stylesheet">
        
    </head>

    <body> 

        <%- include ('./partials/header') %>

        <main>
            <br>
            <br>
            <br>
            <br>

            <body>
                <h1>INTEGRANTES</h1>
                <div style="align-items: center; align-content: center;">
                    <ul style="flex-direction:row; flex-grow: inherit;">
                        <li  class="text-link-nav avatar"><img style="width: 200px; height: 200px;" class="user-profile-picture" src="/img/avatar/1587754660524.jpg" alt= "foto del usuario">
                            <h2>Neri Cardozo</h2>
                            <p>Desarollador de Front-End</p>
                        </li>
                            
                        <li  class="text-link-nav avatar"><img style="width: 200px; height: 200px;" class="user-profile-picture" src="/img/avatar/1618197538483.jpg" alt= "foto del usuario">
                            <h2>Carla Fresh Pons</h2>
                            <p>Desarollador de Back-End y Scrum master.</p>
                        </li>
                            
                        <li  class="text-link-nav avatar"><img style="width: 200px; height: 200px;" class="user-profile-picture" src="/img/avatar/1623025511250.jpg" alt= "foto del usuario">
                            <h2>Emanuel Mercado</h2>
                            <p>Desarollador de Back-End</p>
                        </li>
                    </ul>
                </div>
            </body>
        </main>

    <!--FOOTER-->
    <%- include ('./partials/footer') %>

    </body>
</html>