<!DOCTYPE html>
<html>

        <head>
            <meta charset="utf-8">
            <!--Viewport-->
            <meta name= "viewport" content= "width=device-width, initial-scale=1">

            <title>"Hecho a Mano"</title>
        
            <!--link para la fuente Roboto-->
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">    

            <!--Css styles-->
            <link href ="css/normalize.css" rel="stylesheet"> 
            <link href ="css/stylesIndex.css" rel="stylesheet">
            <link href ="css/stylesLogin.css" rel="stylesheet">

            <!-- Font awesome -->
            <script src="https://kit.fontawesome.com/17c2d4139d.js" crossorigin="anonymous"></script> 
            
        </head>

        <body> 

             <%- include ('./partials/header') %>

            <main class="register">
                <div class="login">
                    <div class="login-screen">
                        <div class="app-title">
                            <h1>Ingresar</h1>
                        </div>
    
                        <div class="login-form">
                            
                            <div>
                            <button class="loginBtn loginBtn--facebook">
                                Ingresá con Facebook
                              </button>
                            </div>

                            <div>
                              <button class="loginBtn loginBtn--google">
                                Ingresá con Google
                              </button>
                            </div>
                            
                            <div class= "cuenta-registrada">
                                <p>Si tenés una cuenta registrada, ingresá tus datos.</p>
                            </div>

                            <div class="container">
                                <input type="text" class="login-field" value="" placeholder="Usuario" id="login-name" required>
                                <label class="login-field" for="login-name"></label>
                            </div>
            
                            <div class="container">
                                <input type="password" class="login-field" value="" placeholder="Contraseña" id="login-pass" required>
                                <label class="login" for="login-pass"></label>
                            </div>

                                <div class ="btn-enviar">
                                    <a class="btn" href='/'>Enviar</a>
                                </div>
                            <a class="login-link" href="#">¿Perdiste tu contraseña?</a>
                            <a class="login-link" href="/register">¿No tenés una cuenta? Registrate</a>
                        </div>
                    </div>
                </div>
            </main>

        <!--FOOTER-->
        <%- include ('./partials/footer') %>
            
  </body>
</html>