<!DOCTYPE html>
<html>

    <head>

        <%- include ('./partials/head') %>
        <link href ="/css/stylesLogin.css" rel="stylesheet">
        
    </head>

    <body> 

        <%- include ('./partials/header') %>

        <main class="register">

            <div class="login login-screen">
            
                <div class="app-title">
                    <h1>Ingresar</h1>
                </div>

                <div>
                    <button class="loginBtn loginBtn--facebook">
                        Ingresá con Facebook
                    </button>
                </div>

                <div>
                    <button class="loginBtn loginBtn--google">
                        Ingresá con Google
                    </button>
                </div>

                <form class="login-form" action="/users/login" method="POST">

                    <div class= "cuenta-registrada">
                        <p>Si tenés una cuenta registrada, ingresá tus datos.</p>
                    </div>

                    <div class="container">
                        <input name="email" type="email"  class="login-field" placeholder="Usuario" id="login-name">
                        <label class="login-field" for="login-name"></label>
                        <% if (locals.errors && errors.email) { %>
                            <div style="color: tomato">
                                <%= errors.email.msg %> 
                            </div>
                        <% } %> 
                    </div>

                    <div class="container">
                        <input name="pass" type="password" class="login-field" placeholder="Contraseña" id="login-pass" required>
                        <label class="login" for="login-pass"></label>
                    </div>

                    <div class ="btn-enviar">
                        <input class="btn" type="submit" value="Enviar">
                    </div>

                    <div>
                        <div>
                            <label for="">                     
                                <input type="checkbox" name="remember">Recordar contraseña
                            </label>
                        </div>
                        <a class="login-link" href="#">¿Perdiste tu contraseña?</a>
                        <a class="login-link" href="/users/register">¿No tenés una cuenta? Registrate</a>
                    </div>

                </form>

            </div>
        </main>

    <!--FOOTER-->
    <%- include ('./partials/footer') %>

    </body>
    <script src="/js/loginValidator.js"></script>
</html>