<!DOCTYPE html>
<html>

            <%- include ('./partials/head') %>   


        <body> 
            <%- include ('./partials/header') %>

            <main class= "container row">

                <h2 style="margin-top: 150px">EN CONTRUCCIÓN</h2>

                <img src="https://imgmp.mlstatic.com/org-img/banners/ar/medios/785X40.jpg" 
                title="Mercado Pago - Medios de pago" alt="Mercado Pago - Medios de pago" 
                width="785" height="40"/>

                <p>ASRASAFDADAS</p>

            </main>

        <!--FOOTER-->
        <%- include ('./partials/footer') %>
            
  </body>
</html>