<!DOCTYPE html>
<html>

<head>
   <link href ="css/stylesProductCreator.css" rel="stylesheet">     
</head>

<body>
        <main>     
        
            <section>   
            <div class="title">
                <img src ="./img/logoEn-amarillo-.png">
                <h1>FORMULARIO DE CREACIÓN DE PRODUCTO</h1>   
                <h4>Ingreso exclusivo con clave administrador</h4>
                <input type="password" class="login-field" value="" placeholder="Contraseña" id="login-pass" required>
                <input class="submit-button" type="submit" value="Enviar">
            <form class="productCreator" action="/" method="POST">
                <h4>¿Querés modificar un producto ya creado?</h4>
                <select name="product">
                    <option value="Elegir" id="AF">Elegir opción</option>
                    <option value="producto001" id="001">producto001</option>
                    <option value="producto002" id="002">producto002</option>
                    <option value="producto003" id="003">producto003</option>
                    <option value="producto004" id="004">producto004</option>
                    <option value="producto005" id="005">producto005</option>

                    <h4>¿Querés crear un nuevo producto?</h4>
                    <input type="text" name="productName" placeholder="Nombre del producto">
                    <input type="text" name="productDescription" placeholder="Descripción">
                    <h4>Subí la/s foto/s del producto</h4>
                    <input type="file" name="productFile">                
                    <h4>Categoría</h4>
                    <div class="interests">
                    <div>
                        <input type="checkbox" name="interests" value="a" id="a">
                        <label for="a">Electro</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="b" id="b">
                        <label for="b">Moda</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="c" id="c">
                        <label for="c">Hogar</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="d" id="d">
                        <label for="d">Juguetería</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="e" id="e">
                        <label for="e">Vida sana</label>
                    </div>
                </div>
                <h4>Colores</h4>
                <div class="interests">
                    <div>
                        <input type="checkbox" name="interests" value="a" id="a">
                        <label for="a">Blanco</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="b" id="b">
                        <label for="b">Negro</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="c" id="c">
                        <label for="c">Rojo</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="d" id="d">
                        <label for="d">Azul</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="e" id="e">
                        <label for="e">Otro/s</label>
                    </div>
                </div>
                <input style="width: 13%;" type="number" name="price" placeholder="Precio">
                <input class="sendButton" type="submit" value="Enviar">
                <input class="eraseButton" type="reset" value="Borrar">
                <br>
                <br>
            </form>
        </section>
    </main>
</body>
</html>