<!DOCTYPE html>
<html>

     <head>
            <%- include ('./partials/head') %>
            <link href ="css/stylesProductDetail.css" rel="stylesheet">
        </head>


    <body>
        <%- include ('./partials/header') %>
           <!-- Categoria de producto     -->
    <main>

        <section>
            <div class="productCategory">
                <a href="#">Categoria de producto</a> > <a href="#">Subcategoria</a> > <a href="#">Segmento</a> > <a href="#">Subsegmento</a> > <a href="#">Producto</a>
            </div>
        </section>

        <!-- Producto al que ingreso -->
        <section class="mainProduct">
            <article>
                <img class="mainProductImage" src="./img/img-1-C-mascarilla.png">
            </article>
                <div class="descriptionFields">
                    <div class="productName"> 
                        <h2>Nombre del producto</h2>
                    </div>
                        <div class="productRating">
                            <ul class="rating interactive-rating mb-0">
                                <li>
                                <i class="far fa-heart fa-sm text-primary"></i>
                                </li>
                                <li>
                                <i class="far fa-heart fa-sm text-primary"></i>
                                </li>
                                <li>
                                <i class="far fa-heart fa-sm text-primary"></i>
                                </li>
                                <li>
                                <i class="far fa-heart fa-sm text-primary"></i>
                                </li>
                                <li>
                                <i class="far fa-heart fa-sm text-primary"></i>
                                </li>
                            </ul>
                        </div>

            <article class="productDescription">
        
                <div class="productPrice"> 
                    <p>$1.300</p>
                </div>

                <div class="paymentMethods">
                     <a href="#">Ver los medios de pago</a>
                </div>

                <div class="productDescription">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                     Eos suscipit corrupti veniam assumenda aliquid distinctio voluptate amet?</p>
                </div>
    
                <div>
                   <ul class="deliveryDetails">
                        <li class="seller">Vendedor: <a href="#">El Pepe</a></li>
                        <li class="stock">Stock:</li>
                        <li class="shippingCost">Envio a domicilio: $360</li>
                    </ul> 
                </div>
                
            </article>
        </section>

<!-- Caja de preguntas -->
        <section class="questionField">
            <h4 class="subtitle">¡Déjanos tu pregunta!</h4>
            <div class="userData">
                <form class="questionField-form" id="questionZone" action="/" method="POST">

                    <label class ="label-detail" for="email"> Correo electronico</label>
                    <input class ="input-detail" type="email" name="email" placeholder="juan@soto.com">

                    <label class ="label-detail" for="question">¿Quieres personalizar tu producto?</label>
                    <input class ="input-detail questionBox" type="text" name="question" placeholder="Lo haremos especial para vos...">

                    <div class= "buttom">
                        <buttom class= "submit-button" id="submit-button" type="submit">Borrar</buttom>
                        <button class="questionBoxButton" id="questionZone" type="submit" >Enviar</button>
                    </div>

                </form>
            </div>
        </section>
<!-- Productos relacionados -->

<div class="container row subtitle">
    <h2>Productos relacionados</h2>
</div>
    

<section class= "container row">

    <article class="relatedProduct col">
        <div class="img-box">
            <img src="./img/img-1-C-mascarilla.png" alt="Tapabocas">
        </div>
            <div class="related-article1">
                <h3 class="price">$250</h3>
                <h4 class= "payment-method">Hasta 3 cuotas</h4>
                <h4 class= "description">Tapabocas (distinto colores y modelos)</h4>
             </div>
    </article>

    <article class="relatedProduct col">
        <div class="img-box">
            <img  src="./img/img1-A-pinturaArtesanalAcrílico.png" alt="Pintura Artesanal en acrílico">
         </div>
              <div class ="related-article1">
                 <h3 class="price">$6500</h3>
                 <h4 class= "payment-method">Hasta 12 cuotas</h4>
                 <h4 class= "description">Cuadro Abstracto en Acrílico</h4>
              </div>
    </article>

    <article class="relatedProduct col">
        <div class="img-box">
             <img src="./img/img2-A-linoleografía.png" alt="Linoleografía">
         </div>
            <div class= "related-article1">
                 <h3 class ="price">$7.500</h3>
                 <h4 class= "payment-method">10% off</h4>
                 <h4 class= "description">Linoleografía</h4>
             </div>
    </article>

    <article class="relatedProduct col">
        <div class="img-box">
            <img  src="./img/img2-C-accesorioCabello.png" alt="Turbante chic tejido a mano">
         </div>
             <div class="related-article1">
                 <h3 class ="price">$1500</h3>
                 <h4 class= "payment-method">15% off</h4>
                 <h4 class= "description">Turbante chic tejido artesanal</h4>
             </div>
    </article>

</section>
</main>

    <!-- ICON -->
    <div class = "whatsapp">
        <a href="https://api.whatsapp.com/send/?phone=59891545444&text=%22Hola+%C2%A1+Hecho+a+%20Mano+!+Estoy+interesadx+en+.+.+.%22&app_absent=0" class="whatsapp" 
        target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>
        </div>
       
    
        <!--SOCIAL MEDIA-->
    
        <div class= "red-social-container">
            <h4>Encontranos también en:</h4>
            <a class= "text-footer-yellow" href="https://www.instagram.com/explore/tags/artesanias/"><i class="fab fa-instagram"></i></a>
            <a class= "text-footer-yellow" href="https://www.facebook.com/groups/188953441869265"><i class="fab fa-facebook-f"></i></a>
        </div>
    
        <!--FOOTER-->
        <%- include ('./partials/footer') %>
      </body>
    </html>