 <!DOCTYPE html>
 <html>

 <head>
    <meta charset="utf-8">
    <!--Viewport-->
    <meta name= "viewport" content= "width=device-width, initial-scale=1">

    <title>"Carrito de compras"</title>
  
    <!--link para la fuente Roboto-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">    

    <!--Css styles-->
    <link href ="css/normalize.css" rel="stylesheet"> 
    <link href ="css/stylesIndex.css" rel="stylesheet">
    <link href ="css/stylesProductCart.css" rel="stylesheet">

    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/17c2d4139d.js" crossorigin="anonymous"></script> 
      
 </head>

 <body>

    <%- include ('./partials/header') %>

 <!-- ESPACIO PARA CAROUSEL -->

 <!--<img class="img-carousel row" src="./img/banner1.png"-->


 <!--MAIN-->

     <!--<main>

       <h2 class="row">Los más vendidos</h2>

        <section class="container">
                <article class ="product col col.doble_sm">
                    <img  src="./img/img3-A-grabadoMadera.png" alt="Cuadro grabado en madera">
                    <div class="main-article1">
                        <h3 class="price">$3500</h3>
                        <h4 class="payment-method">Hasta 6 cuotas sin interés</h4>
                        <h4 class="description">Cuadro grabado en madera</h4>
                    </div>
            </article>

            <article class ="product col col.doble_sm">
                <img  src="./img/img1-A-pinturaArtesanalAcrílico.png" alt="Pintura Artesanal en acrílico">
                <div class ="main-article1">
                    <h3 class="price">$6500</h3>
                    <h4 class= "payment-method">Hasta 12 cuotas sin interés</h4>
                    <h4 class= "description">Cuadro Abstracto en Acrílico</h4>
                </div>
            </article>

            <article class ="product col col.doble_sm">
                <img src="./img/img2-A-linoleografía.png" alt="Linoleografía">
                <div class= "main-article1">
                    <h3 class="price">$7.500</h3>
                    <h4 class= "payment-method">10% off</h4>
                    <h4 class= "description">Linoleografía</h4>
                </div>
            </article>

            <article class ="product col col.doble_sm">
                <img  src="./img/img2-C-accesorioCabello.png" alt="Turbante chic tejido a mano">
                <div class="main-article1">
                    <h3 class="price">$1500</h3>
                    <h4 class= "payment-method">15% off en un pago</h4>
                    <h4 class= "description">Turbante chic tejido artesanal</h4>
                </div>
            </article>

        </section>


         <h2 class= "row">Categorías</h2>

        <section class="container">
            <article class ="categoria col col.doble_sm" >
                <img class="img-categoria" src="./img/img3-C-cueroCabello.png" alt="Turbante chic tejido a mano">
                    <h3 class="segmento">Complementos (joyería, accesorios y mucho más!)</h3>
            </article>

            <article class ="categoria col col.doble_sm">
                <img class ="img-categoria" src="./img/img3-A-grabado.png" alt="grabado">
                     <h3 class="segmento">Arte (cuadros, esculturas, estatuas y figuras, elaborados con distintas técnicas).</h3>
            </article>

            <article class ="categoria col col.doble_sm">
                <img class ="img-categoria" src="./img/img1-H-paloSanto.png" alt="jabon Natural">
                    <h3 class="segmento">Hogar (velas, sahumerios, decoración, y mucho más!)</h3>
            </article>

            <article class ="categoria col col.doble_sm" >
                <img class ="img-categoria" src="./img/img4-H-close&openDeMadera.png" alt="close and open de madera">
                    <h3 class="segmento">Juguetes para niños y de ingenio</h3>
            </article>
 
            <article class ="categoria col col.doble_sm">
                <img class ="img-categoria" src="./img/img5-P-jabonNatural.png" alt="jabon natural">
                    <h3 class="segmento">Cosmética (cremas, jabones y cuidado personal)</h3>
            </article>

            <article class ="categoria col col.doble_sm">
                <img class ="img-categoria" src="./img/img1-zapatosHechosAmano.png" alt="zapatos artesanales">
                    <h3 class="segmento">Ropa y calzado (prendas de vestir en diferentes estilos y calzado confeccionado a mano)</h3>
            </article>

        </section>

            <h2>Destacados del mes</h2>

        <section class= "container">

            <article class="product col col.doble_sm">
                <img src="./img/img-1-C-mascarilla.png" alt="Tapabocas">
                <div class="main-article1">
                     <h3 class ="price">$250</h3>
                     <h4 class= "payment-method">Hasta 3 cuotas sin interés</h4>
                     <h4 class= "description">Tapabocas (distinto colores y modelos)</h4>
                </div>
            </article>

            <article class="product col col.doble_sm">
                <img  src="./img/img1-A-pinturaArtesanalAcrílico.png" alt="Pintura Artesanal en acrílico">
                <div class ="main-article1">
                    <h3 class ="price">$6500</h3>
                    <h4 class= "payment-method">Hasta 12 cuotas sin interés</h4>
                    <h4 class= "description">Cuadro Abstracto en Acrílico</h4>
                </div>
            </article>

            <article class="product col col.doble_sm">
                <img src="./img/img2-A-linoleografía.png" alt="Linoleografía">
                <div class= "main-article1">
                    <h3 class ="price">$7.500</h3>
                    <h4 class= "payment-method">10% off</h4>
                    <h4 class= "description">Linoleografía</h4>
                </div>
            </article>

            <article class="product col col.doble_sm">
                <img  src="./img/img2-C-accesorioCabello.png" alt="Turbante chic tejido a mano">
                <div class="main-article1">
                    <h3 class ="price">$1500</h3>
                    <h4 class= "payment-method">15% off en un pago</h4>
                    <h4 class= "description">Turbante chic tejido artesanal</h4>
                </div>
            </article>

        </section>
    </main>-->

     <main>
         <nav class="nav-menu">
             <div class="nav-menu-item1"><a href="/productCart"> CARRITO DE COMPRAS </a></div>
             <div class="nav-menu-item2"><a href="#"> Información de envío </a></div>
             <div class="nav-menu-item3"><a href="#"> Metodos de pago </a></div>
             <div class="nav-menu-item3"><a href="#"> Revisión del pedido </a></div>
         </nav>

         <section class="big-container-col">
             <h2 class="item-cart1"><a href="/productCart">Mi carrito</a></h2>
             <article class="small-container"> 
                 <section class="cart-item-container">
                     <article class="product1">
                        <a href="http://localhost:8000/productDetail">
                         <img src="./img/img2-A-linoleografía.png" alt="Linoleografía">
                    </a>
                         <div class="details">
                             <h3 class ="price">$7.500</h3>
                             <h4 class= "payment-method">10% off</h4>
                             <h4 class= "description-details">Linoleografía</h4>
                         </div>
                         <div class="ui-quantity-selector__container">
                            <form class="u-float-left" method="POST">
                            <input data-quantity="pop" type="submit" value="-" class="u-button-reset ui-quantity-selector__button" name="pop" disabled="">
                            </form>
          
                            <input autocomplete="off" data-quantity="input" type="tel" value="1" class="u-button-reset ui-quantity-selector__input" name="quantity">
          
                            <form class="u-float-left" method="POST">
                            <input data-quantity="push" type="submit" value="+" class="u-button-reset ui-quantity-selector__button" name="push">
                            </form>
                            <div class="cart-inline-loading__quantity-selector" data-region="quantity-loading"></div>
                         </div>
                     </article>

                     <article class="product2">
                        <a href="http://localhost:8000/productDetail">
                         <img src="./img/img-1-C-mascarilla.png" alt="Tapabocas">
                    </a>
                         <div class="details">
                             <h3 class ="price">$250</h3>
                             <h4 class= "payment-method">Hasta 3 cuotas sin interés</h4>
                             <h4 class= "description-details">Tapabocas (distinto colores y modelos)</h4>
                         </div>
                         <div class="ui-quantity-selector__container">
                            <form class="u-float-left" method="POST">
                            <input data-quantity="pop" type="submit" value="-" class="u-button-reset ui-quantity-selector__button" name="pop" disabled="">
                            </form>
          
                            <input autocomplete="off" data-quantity="input" type="tel" value="1" class="u-button-reset ui-quantity-selector__input" name="quantity">
          
                            <form class="u-float-left" method="POST">
                            <input data-quantity="push" type="submit" value="+" class="u-button-reset ui-quantity-selector__button" name="push">
                            </form>
                            <div class="cart-inline-loading__quantity-selector" data-region="quantity-loading"></div>
                         </div>
                     </article>
             
                 </section>
                 <section class="summary">
                     <h3 class="price">Total general</h3>
                     <h3 class="price">¿Tienes un cupón de descuento?</h3>
                     <article class="value">
                         <div class="concepto">
                             <h4 class="list">Subtotal</h4>
                             <h4 class="list">Envio</h4>
                             <h4 class="list">Descuento</h4>
                         </div>
                         <div class="coste">
                            <h4 class="list">$7.750</h4>
                            <h4 class="list">A calcular</h4>
                            <h4 class="list">$750</h4>
                         </div>
                     </article>
                     <article class="value">
                        <div class="price">Total general</div>
                        <div class="total">$7000</div>
                    </article>
                 </section>
             </article>
         </section>
         <section> 
             <div class="container row subtitle">
                 <h2>SUMAR A MI CARRITO</h2>
             </div>

             <section class="container row">
                 <article class ="product col">
                     <div class= "img-box">
                        <a href="http://localhost:8000/productDetail">
                        <img  src="./img/img3-A-grabadoMadera.png" alt="Cuadro grabado en madera">
                    </a>
                     </div>
                     <div class="main-article1">
                        <h3 class="price">$3500</h3>
                        <h4 class="payment-method">Hasta 6 cuotas</h4>
                        <h4 class="description">Cuadro grabado en madera<i class="fas fa-shopping-cart col"></i></h4>
                     </div>
                 </article>  

                 <article class ="product col">
                     <div class= "img-box">
                        <a href="http://localhost:8000/productDetail">
                        <img  src="./img/img1-A-pinturaArtesanalAcrílico.png" alt="Pintura Artesanal en acrílico">
                    </a>
                     </div>
                     <div class ="main-article1">
                        <h3 class="price">$6500</h3>
                        <h4 class= "payment-method">Hasta 12 cuotas</h4>
                        <h4 class= "description">Cuadro Abstracto en Acrílico<i class="fas fa-shopping-cart col"></i></h4>
                     </div>
                 </article>

                 <article class ="product col">
                     <div class= "img-box">
                        <a href="http://localhost:8000/productDetail">
                        <img src="./img/img2-A-linoleografía.png" alt="Linoleografía">
                    </a>
                     </div>
                     <div class= "main-article1">
                        <h3 class="price">$7.500</h3>
                        <h4 class= "payment-method">10% off</h4>
                        <h4 class= "description">Linoleografía<i class="fas fa-shopping-cart col"></i></h4>
                     </div>
                 </article>

                 <article class ="product col">
                     <div class= "img-box">
                        <a href="http://localhost:8000/productDetail">
                        <img  src="./img/img2-C-accesorioCabello.png" alt="Turbante chic tejido a mano">
                    </a>
                     </div>
                     <div class="main-article1">
                        <h3 class="price">$1500</h3>
                        <h4 class= "payment-method">15% off</h4>
                        <h4 class= "description">Turbante chic tejido artesanal<i class="fas fa-shopping-cart col"></i></h4>
                     </div>
                 </article>


         </section>
     </main>
         <!--FOOTER-->
         <%- include ('./partials/footer') %>
            
 </body>
 </html>