main {
    margin: 100px 0px;
    text-align: center;
}

.sendButton {
    background: blue;
    color: white;
    width: 90%;
}
.eraseButton {
    background: red;
    color: white;
    width: 90%;
}
div .bar {
    margin: 0px;
    padding: 0px;
}

.productCreator {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-items: normal;
}
main input {
    margin: 5px;
    box-shadow: 3px 3px lightgrey;
}

@media (min-width: 460px){
 .sendButton, .eraseButton {
     max-width: 360px;
 }
}

@media (min-width: 768px){

}

@media (min-width: 1200px){

}