* {    
    font-family: 'Roboto', sans-serif;
}
header {
    background: #FACD48;
}
body {
    background-color: #F4F4F4;
    color: #000;
    overflow-x: hidden;
}
/*HEADER*/

/*TOP-BAR*/
.header-top-navbar { 
    height: 60px; 
    background: #FACD48;
    display: flex; 
    justify-content: space-between; 
}

.logo {
    margin-left: 8px; 
    width: 45%;
}

.img-logoEnBlanco {
    max-width: 150px; 
}

.search-bar {
    width: 45%; 
}

.form-search-navbar {
    position: relative; 
    margin-top: 20px; 
}

.form-search-navbar-input {
    width: 100%;
    height: 25px;
    border-radius: 3px;
    background-color: #FDE6A3; 
    border: none;
}

.form-search-navbar button {
    background-color: #FDE6A3; 
    position: absolute;
    width: 16px;
    right: 2px;
    top: 4px; 
    color: #696969; 
    border: none; 
}

/* FIRST-NAVBAR solo disponible para tablets y desktop*/
.first-navbar {
    display: none; 
}

.right-navbar i {
    margin: 0; 
}

.right-navbar {
    margin-top: 20px; 
}

/*SECOND NAV-BAR*/
.container-todo-categorias {
    background: #F4F4F4;  
}

header nav ul{
   margin: 0px;
   display: flex; 
}

header nav li {
   list-style-type: none;
   padding-right: 2px;

}

header nav li a.category-link {
    text-decoration: none;
    color: #353535;
    display: inline-block; 
    padding-top:2px;
    padding-bottom: 2px;
    margin-right: 5px; 
}

header nav li a.category-link i {
    color: #353535;
    border: solid 0.2px #353535;
    border-radius: 3px;  
    padding: 2px 2px 2px 2px; 
    text-align: center; 
    margin-right: 5px; 
    margin-left: 8px; 
    background: #FACD48; 
}
.mainProductImage {
    width: 100%;
}
.protectedPurchase {
    width: 35vw;
}
.productRating {    
    flex-wrap: wrap;
    padding: 0;
}
.product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.productDetails, .deliveryDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title, .productCategory {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.1em;
    justify-content: center;
}
.rating {
    list-style: none;
    display: flex;
    padding-inline-start: 0px;
}
.productDescription {
    display: none;
}
.relatedProducts {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.relatedProductsBar,.relatedProductsImages {    
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.relatedProductsBar {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin: 10px;
}
.relatedProductName, .relatedProductPrice {
    justify-content: center;
    margin: 0 auto;
}
.questionZone {
    display: flex;
    flex-direction: column;
}
.footer-social-media {
    background-color: #FDE6A3;
}
.footer-top {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.copyright {
    background-color: #FACD48;
}
@media screen and (min-width: 460px) {
    .pic0 {
        width: 275px;
        height: 385px;
    }
    .questionZone {
        flex-direction: row;
    }
    .question {
        width: 100%;
    }
    .preguntas {
        width: 100%;
        display: block;
    }
    .mainProductImage {
        width: 50%;
    }
    .product {
        flex-direction: row;
        justify-content: space-between;
    }
}   