main {
    margin: 100px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
}

body {
    background: #EBEBEB; 
}

.title {
    background: white;  
}

h1 {
    color:  #EFB116;
    padding: 5px; 
}

h4 {
    color: black; 
    padding: 5px; 
}


section {
    background: white; 
}


.detail {
    width: 250px; 
    padding: 5px;
}

.sendButton {
    background: #EFB116;
    color: white;
    width: 250px; 
}
.eraseButton {
    background: #FDE6A3; 
    color: white;
    width: 250px; 
}
div .bar {
    margin: 0px;
    padding: 0px;
}

.productCreator {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-items: normal;
}

.productDescription {
    width: 250px; 
}

.productName {
    width: 250px; 
    padding: 5px; 
}

textarea {
    font-family: Arial;
    color: grey; 
    padding: 5px; 
}

main input {
    margin: 5px;
    box-shadow: 3px 3px lightgrey;
}

@media (min-width: 460px){
 .sendButton, .eraseButton {
     max-width: 360px;
 }
}

@media (min-width: 768px){

}

@media (min-width: 1200px){

}