/* normalize */
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/*Mobile First*/
/*col y row*/
.container {
   width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.col {
    flex-basis: 100%;
    /* gutter */
    margin:10px;
}

/*BODY*/
body {
    background: #F4F4F4; 
    font-family: 'Roboto'; 
    color: #353535; 
    font-size: 14px; 
}

h2 {
    font-size: 20px; 
    color: #EFB116; 
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px; 
}

ul li {
    list-style: none; 
}

a {
    text-decoration: none; 
}

p {
    font-size: 12px; 
}


/*MAIN*/

main {
    width: 90%;
    margin: 0 auto;  
    padding-top: 40px;
    padding-bottom: 100px
}

.subtitle {
   padding-top: 20px; 
   height: 60px; 
   text-align: center; 
   padding-left: 10px; 
}

/*HEADER*/

/*TOP-BAR*/

.header {
    margin: 0 0; 
    position: fixed;
    top: 0;
    z-index: 100; 
    width: 100%; 
    height: 60px;
    background: #FACD48;
}

.header-top-navbar { 
    background: #FACD48;
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
    height: 100%; 
}

.logo {
    margin-left: 8px; 
    width: 45%;
}

.img-logoEnBlanco {
    max-width: 150px; 
}

.search-bar {
    width: 45%; 
}

.form-search-navbar {
    position: relative; 
    margin-top: 20px; 
}

.form-search-navbar-input {
    width: 100%;
    height: 25px;
    border-radius: 3px;
    background-color: #FDE6A3; 
    border: none;
}

.form-search-navbar button {
    background-color: #FDE6A3; 
    position: absolute;
    width: 16px;
    right: 2px;
    top: 4px; 
    color: #696969; 
    border: none; 
}

/* FIRST-NAVBAR solo disponible para tablets y desktop*/

.first-navbar {
    display: none; 
}

.right-navbar i {
    margin: 0; 
}

.right-navbar {
    margin-top: 20px; 
}


/*SECOND NAV-BAR*/

.second-nav-bar {
    width: 100vw;
    height: 30px;
    background-color: white;
    background: rgba(256, 256, 256, 0.95);    
}

.container-todo-categorias { 
    text-align: left;
    height: 8px;
    padding-top: 4px; 
    width: 100%; 
}

header nav ul {
   margin: 0px;
   display: flex; 
}

header nav li {
   list-style-type: none;
   padding-right: 2px;
}

header nav li a.category-link {
    text-decoration: none;
    color: #353535;
    display: inline-block; 
    padding-top:2px;
    padding-bottom: 2px;
    margin-right: 5px; 
}

header nav li a.category-link i {
    color: #353535;
    border: solid 0.2px #353535;
    border-radius: 3px;  
    padding: 2px 2px 2px 2px; 
    text-align: center; 
    margin-right: 5px; 
    margin-left: 8px; 
    background: #FACD48; 
}

/*CAROUSEL*/

.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 116px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

/*SECTION*/

/*ARTICLE*/

.main-article1 {
    background-color: white; 
    display: flex; 
    justify-content: space-around; 
    position: relative; 
    padding: 10px; 
}

.price {
    color: #353535; 
    width: 50%;  
    font-weight: 700;
}

.payment-method {
    color:#008F39; 
    font-size: 12px;
    margin-left: 5px; 
    width: 50%; 
}

/*descripcion solo disponible en tablet y desktop*/
.description {
    display: none; 

}

/*AJUSTAR IMG A DIV*/

.product {
    display: flex;
    flex-basis: 100%;
    flex-flow: column wrap;
    background: white;
    height: 250px;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .product .img-box {
    position: relative;
    width: 100%;
    height: calc(100% - 50px);
    border-bottom: 1px solid rgb(243, 243, 243);
    overflow: hidden;
  }
  
  .product .img-box img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
  }


/*ARTICLE CATEGORIAS*/

.categoria {
    margin: 0px;
    height: 250px;
    display: flex; 
    position: relative; 
    background-color: white;
    flex-grow: 0;
    flex-shrink: 0;
    border: 1px solid #B3B3B3;
} 

article.categoria:hover {
    background-color: #A3A3A3;
} 

article a.link-categ{
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #353535; 
}

a.link-categ:hover {
    color:#EFB116;
} 

.categoria .img-box .categ {
    margin:0px; 
}

.categoria .img-box img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 70%;
    max-height: 100%;
    opacity: 0.1;
}

.segmento {
    position: absolute;
    margin: auto;
    font-weight: 700;
    top: calc(50% - 10px);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2; 
    padding: .8em 2em;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center; 
}

.segmento a {
    text-emphasis: none;
    text-decoration: none; 
}

/* DESTACADOS */

/*SOCIAL MEDIA*/
.red-social-container {
    text-align: center;
    line-height : 25px;
    width: 100%;
    font-size: 24px;  
    background: white; 
    padding: 20px; 
}

.red-social-container a {
    color: #696969;
    text-align: center;  
}

/*FOOTER*/

footer {
    text-align: justify;
    width: 100%;
    display: flex; 
    background: white;
}

.footer-top {
    width: 100%;
    margin: 0 auto;
    display: flex; 
    background-color: #FDE6A3;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-top a{
    text-decoration: none;
    color: #696969;
}


.footer-buttom {
    width: 100%;
    margin: 0 auto;
    display: flex; 
    background-color: #FACD48; 
    color: white; 
}

.text-footer-yellow a {
    text-decoration: none;
    color: #353535; 
}
footer .text-footer-yellow:hover {
    color:#EFB116;
}
.text-footer-yellow a {
    transition: color 0.8s linear 0.2s;
}

.text-footer-black {
    font-size: 10px; 
}

.text-footer-black a {
    text-decoration: none;
}
footer .text-footer-black:hover {
    color: #353535;
}
.text-footer-black a {
    transition: color 0.8s linear 0.2s;
}

/*LOGO WHATSAPP*/
.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:13px;
  }

/* Tablets */

/*col y row*/
@media (min-width: 460px){

 /*FIRT NAVBAR a partir de tablet*/

   .first-navbar {
       display: flex; 
       max-width: 25%;
   }

   .right-navbar a {
        text-decoration: none; 
        color: #696969;
    }

    .first-navbar li {
         margin-left: 5px; 
    }
   
    .second-nav-bar {
    }

   .logo {
       max-width: 25%;
   }

   .search-bar {
       max-width: 25%; 
   }

   /*PRODUCT*/
  
   /*CATEGORIAS*/

    .col {
        flex:1;
    }
    .col.cuadruple_sm {
        flex: 4;
    }
    .col.triple_sm {
        flex: 3;
    }
    .col.doble_sm {
        flex: 2; 
    }

    .product {
        display: flex;
        flex-basis: calc(50% - 20px);
        flex-grow: 0;
        flex-shrink: 0;
        box-shadow : 0px 0px 10px rgb(100, 100, 100);
    }
    .categoria {
        display: flex;
        flex-basis: calc(50% - 2px);
        flex-grow: 0;
        flex-shrink: 0;
    }
    
    .description {
        font-size: 12px; 
        display: block; 
        position: absolute; 
        top: 35px; 
        padding-bottom: 5px;
        }
    }


@media (min-width: 768px) {
    .col {
        flex:1;
    }

    .header {
        height: 80px;
    }

    .header-top-navbar{
        padding-top: 10px;
    }

   /*col y row*/
  .col.cuadruple_md {
    flex: 4;
  }
  .col.triple_md {
    flex: 3;
  }
  .col.doble_md {
    flex: 2;
  }

  .container {
      flex-grow: 0;
  }
  .product {
    display: flex;
    flex-basis: calc(25% - 20px);
    flex-grow: 0;
    flex-shrink: 0;
  }

  .categoria {
    display: flex;
    flex-basis: calc(33% - 2px);
    flex-grow: 0;
    flex-shrink: 0;
    }


    /*animation nav-bar*/
    .text-link-nav a {
        text-decoration: none;
    }
    .text-link-nav:hover {
        color: white;
    }
    .text-link nav a {
        transition: color 0.2s linear 0.2s;
    }

    .category-link a {
        text-decoration: none;
    }
    .category-link:hover {
        color: #FACD48; 
    }
    .category-link a {
        transition: color 0.2s linear 0.2s;
    }
    
    .red-social-container a:hover{
        color: #FACD48; 

    }
}

/* Desktop */
@media (min-width: 1200px){
    .container {
        max-width: 1140px;
        margin: 0 auto;
    }
    .col.cuadruple_lg {
        flex: 4;
    }
    .col.triple_lg {
        flex: 3;
    }
    .col.doble_lg {
        flex: 2;
    }
    .categoria {
        display: flex;
        flex-basis: calc(25% - 2px);
        flex-grow: 0;
        flex-shrink: 0;
    }
}