/* ProductCart */
.nav-menu {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    margin-top:75px;
    margin-bottom:10px;
    border:1px solid #D8D8D8;
}

.nav-menu-item1 {
    order:1;
    border:10px;
    padding:10px;   
}
.nav-menu-item2 {
    order:2;
    border:10px;
    padding:10px;
}
.nav-menu-item3 {
    order:3;
    border:10px;
    padding:10px;
}
.nav-menu-item4 {
    order:4;
    border:10px;
    padding:10px;
}

/*DETALLES*/
.big-container {
    padding:10px;
    display: flex;
    flex-direction: column;
    margin-top:10px;
    margin-bottom:10px;
    border:1px solid #D8D8D8;
}

.small-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.cart-item-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.cart-item-container img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 10px;
}

/*.ui-quantity-selector__container input {
    width:15px;
}*/

.description-details {
    display: none;
}

.product1 img {
    box-shadow: 0px 0px 10px rgb(100 100 100);
}

.product2 img {
    box-shadow: 0px 0px 10px rgb(100 100 100);
}

.product1 {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* margin-top: auto; */
    justify-content: center;

}

.product2 {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* margin-top: auto; */
    justify-content: center;
}

.details {
    /* position: relative; */
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    align-items: center;
    padding: 2px;
    border: 1px solid #D8D8D8;
}

.details .price {
    color: #353535;
    width: 35%;
    font-weight: 700;
}

.details .payment-method {
    margin-left: 0px;
    width: 30%;
}

.details p{
    display: none;
}

.summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2px;
    border: 1px solid #D8D8D8;
}

.summary .price {
    width: 100%;
    text-align: center;
}

.value {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    border-bottom: rgb(100, 100, 100) solid 1px;
}

.concepto {
    /*-webkit-flex-direction: column; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    /* left: 50px; */
    /* max-width: 100%; */
    width: 50%;
    /* text-align: left; */
    /* position: relative; */
    left: 10px;
    /* align-items: flex-start;*/
}

.coste {
    /*-webkit-flex-direction: column; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    /* left: 50px; */
    /* max-width: 100%; */
    width: 50%;
    text-align: right;
    /* position: relative; */
    right: 10px;
    /* align-items: flex-start;*/
}


.list {
}

.summary .value .price {
    /*-webkit-flex-direction: column; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    /* left: 50px; */
    /* max-width: 100%; */
    width: 50%;
    /* text-align: left; */
    /* position: relative; */
    left: 10px;
    /* align-items: flex-start;*/
    text-align: left;
}

.total {
    /*-webkit-flex-direction: column; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    /* left: 50px; */
    /* max-width: 100%; */
    width: 50%;
    text-align: right;
    /* position: relative; */
    right: 10px;
    /* align-items: flex-start;*/
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/* Tablets */

/*col y row*/
@media (min-width: 460px){
    .nav-menu {
        flex-direction:column;
    }
    .description-details {
        display: block;
        text-align: right;
        width: 35%;
        margin-bottom: 10px;
    }
    .details {
    /* position: relative; */
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(216, 216, 216); */
    /* border: dotted 2px; */
    padding: 2px;
    border: 1px solid #D8D8D8;
    }
    .details .price {
        color: #353535;
        width: 35%;
        font-weight: 700;
        text-align: left;
        margin-bottom: 10px;
    }
    .details .payment-method {
        margin-left: 0px;
        text-align: center;
        width: 30%;
        margin-bottom: 10px;
    }


}
@media (min-width: 768px) {
    .nav-menu {
        flex-direction:row;
    }
    .product1 {
        padding: 10px;
        display: flex;
        align-items: center;
        flex-direction: row;
        /* margin-top: auto; */
        justify-content: center;
    }
    .product1 img {
        padding-bottom: 36.8125px;
        width: 70%;
        padding-top: 36.8125px;
        text-align: center;
        margin-left: 15%;
    }
    .product2 {
        padding: 10px;
        display: flex;
        align-items: center;
        flex-direction: row;
        /* margin-top: auto; */
        justify-content: center;
    }
    .product2 img {
        width: 70%;
        margin-left: 15%;
    }
    .details {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        height: 260.203px;
        margin-right: 49px;
    }
    .details .price {
        text-align: center;
        width: 100%;
    }
    .description-details {
        text-align: center;
        width: 100%;
    }
    .details .payment-method {
        width: 100%;
    }
}
/* Desktop */
@media (min-width: 1200px){
    .small-container {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        margin-bottom: 10px;
        justify-content: space-around;
    }
    .cart-item-container {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;
        justify-content: center;
        align-items: center;
    }
    .details p {
        display: block;
        text-align: center;
    }
    .product1 {
        padding: 10px;
        display: flex;
        align-items: center;
        flex-direction: row;
        /* margin-top: auto; */
        justify-content: start;
    }
    .product1 a {
        width: 50%;
    }
    .product1 img {
        padding-bottom: 36.8125px;
        /* width: 35%; */
        padding-top: 36.8125px;
        text-align: center;
        margin-left: 0%;
    }
    .product2 {
        padding: 10px;
        display: flex;
        align-items: center;
        flex-direction: row;
        /* margin-top: auto; */
        justify-content: start;
    }
    .product2 a {
        width: 50%;
    }
    .product2 img {
    /* padding-bottom: 36.8125px; */
    /* width: 35%; */
    /* padding-top: 36.8125px; */
    text-align: center;
    margin-left: 0%;
    }
    .product1 img {
        padding-bottom: 36.8125px;
        /* width: 35%; */
        padding-top: 36.8125px;
        text-align: center;
        /* margin-left: 15%; */
    }
    .details {
        width: 40%;
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        height: 260.203px;
        margin-right: 0px;
        justify-content: space-around;
        padding: none;
        border: none;
    }

    /*CANTIDAD*/

    .list {
        width: 100%;
        margin-bottom: 25px;
        margin-top: 25px;
    }
    .summary {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 2px;
        border: 1px solid #D8D8D8;
        width: 100%;
    }
}