/* normalize */
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/*Mobile First*/
/*col y row*/
.container {
   width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.col {
    flex-basis: 100%;
    /* gutter */
    margin:10px;
}

/*BODY*/
body {
    background: #F4F4F4; 
    font-family: 'Roboto'; 
    color: #353535; 
    font-size: 14px; 
}

h2 {
    font-size: 20px; 
    color: #EFB116; 
    padding-top: 8px; 
    margin-left: 8px; 
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px; 
}

ul li {
    list-style: none; 
}

a {
    text-decoration: none; 
}

p {
    font-size: 12px; 
}

/*MAIN*/

main {
    width: 90%;
    margin: 0 auto;  
}

/*HEADER*/

/*TOP-BAR*/
.header-top-navbar { 
    height: 60px; 
    background: #FACD48;
    display: flex; 
    justify-content: space-between; 
}

.logo {
    margin-left: 8px; 
    width: 45%;
}

.img-logoEnBlanco {
    max-width: 150px; 
}

.search-bar {
    width: 45%; 
}

.form-search-navbar {
    position: relative; 
    margin-top: 20px; 
}

.form-search-navbar-input {
    width: 100%;
    height: 25px;
    border-radius: 3px;
    background-color: #FDE6A3; 
    border: none;
}

.form-search-navbar button {
    background-color: #FDE6A3; 
    position: absolute;
    width: 16px;
    right: 2px;
    top: 4px; 
    color: #696969; 
    border: none; 
}

/* FIRST-NAVBAR solo disponible para tablets y desktop*/
.first-navbar {
    display: none; 
}

.right-navbar i {
    margin: 0; 
}

.right-navbar {
    margin-top: 20px; 
}

/*SECOND NAV-BAR*/
.container-todo-categorias {
    background: #F4F4F4;  
}

header nav ul{
   margin: 0px;
   display: flex; 
}

header nav li {
   list-style-type: none;
   padding-right: 2px;

}

header nav li a.category-link {
    text-decoration: none;
    color: #353535;
    display: inline-block; 
    padding-top:2px;
    padding-bottom: 2px;
    margin-right: 5px; 
}

header nav li a.category-link i {
    color: #353535;
    border: solid 0.2px #353535;
    border-radius: 3px;  
    padding: 2px 2px 2px 2px; 
    text-align: center; 
    margin-right: 5px; 
    margin-left: 8px; 
    background: #FACD48; 
}

/*CAROUSEL*/

.img-carousel {
    width: 100%; 
}

/*SECTION*/



/*ARTICLE*/

.main-article1 {
    background-color: white; 
    display: flex; 
    justify-content: space-around; 
}


/*descripcion solo disponible en tablet y desktop*/
.description {
    display: none; 
}

/*AJUSTAR IMG A DIV*/

.product {
    display: flex;
    flex-basis: 100%;
    flex-flow: column wrap;
    background: white;
    height: 250px;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .product .img-box {
    position: relative;
    width: 100%;
    height: calc(100% - 50px);
    border-bottom: 1px solid rgb(243, 243, 243);
    overflow: hidden;
  }
  
  .product .img-box img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
  }
  .main-article1 {
      padding-top: 10px;
  }

/*ARTICLE CATEGORIAS*/

.categoria {
    margin: 0px;
    height: 250px;
    display: flex; 
    position: relative; 
    background-color: white;
    flex-grow: 0;
    flex-shrink: 0;
} 

.categoria .img-box .categ {
    margin:0px; 
}

.categoria .img-box img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    opacity: 0.3;
}

.segmento {
    position: absolute;
    margin: auto;
    top: calc(50% - 10px);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2; 
    padding: .8em 2em;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center; 
}


 /*.segmento {
    padding: 5px 5px 5px 5px; 
    position: absolute; 
    margin: auto; 
    left: 0;
    right: 0; 
    top: 20px; 
    text-align: center;
    width: 90%; 
 }*/


/*SOCIAL MEDIA*/
.red-social-container {
    display: flex; 
}

.red-social-container a {
    color: #696969;
    text-align: center;  
}

/*FOOTER*/

footer {
    text-align: center;
    width: 100%;
    display: flex; 
    background: white;
    
}

.footer-top {
    width: 100%;
    margin: 0 auto;
    display: flex; 
    background-color: #FDE6A3;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-top a{
    text-decoration: none;
    color: #696969;
}


.footer-buttom {
    width: 100%;
    margin: 0 auto;
    display: flex; 
    background-color: #FACD48; 
    color: white; 
}


/* Tablets */

/*col y row*/
@media (min-width: 460px){

/*FIRT NAVBAR a partir de tablet*/

   .first-navbar {
       display: flex; 
       max-width: 25%;
   }

   .right-navbar a {
        text-decoration: none; 
        color: #696969;
    }

    .first-navbar li {
         margin-left: 5px; 
    }
   
    .second-nav-bar {
       max-width: 25%; 
    }

   .logo {
       max-width: 25%;
   }

   .search-bar {
       max-width: 25%; 
   }

   /*PRODUCT*/
  
   /*CATEGORIAS*/

    .col {
        flex:1;
    }
    .col.cuadruple_sm {
        flex: 4;
    }
    .col.triple_sm {
        flex: 3;
    }
    .col.doble_sm {
        flex: 2; 
    }

    .product {
        display: flex;
        flex-basis: calc(50% - 20px);
        flex-grow: 0;
        flex-shrink: 0;
    }
    .categoria {
        display: flex;
        flex-basis: calc(50% - 2px);
        flex-grow: 0;
        flex-shrink: 0;
    }
    
}

@media (min-width: 768px){
    .col {
        flex:1;
    }

   /*col y row*/
  .col.cuadruple_md {
    flex: 4;
  }
  .col.triple_md {
    flex: 3;
  }
  .col.doble_md {
    flex: 2;
  }

  .container {
      flex-grow: 0;
  }
  .product {
    display: flex;
    flex-basis: calc(25% - 20px);
    flex-grow: 0;
    flex-shrink: 0;
  }

  .categoria {
    display: flex;
    flex-basis: calc(33% - 2px);
    flex-grow: 0;
    flex-shrink: 0;
    }

}

/* Desktop */
@media (min-width: 1200px){
    .container {
        max-width: 1140px;
        margin: 0 auto;
    }
    .col.cuadruple_lg {
        flex: 4;
    }
    .col.triple_lg {
        flex: 3;
    }
    .col.doble_lg {
        flex: 2;
    }
    .categoria {
        display: flex;
        flex-basis: calc(25% - 2px);
        flex-grow: 0;
        flex-shrink: 0;
    }
}